@model IEnumerable<BackeryShopDomain.Classes.PriceListDetail>
@{


    ViewBag.Title = "Detalji cenovnika";
}

<h2>Detalji cenovnika</h2>

<p>
    @Html.ActionLink("Dodajte nov proizvod", "Create", "PriceListDetails", new { id = @Model?.First().PriceListId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriceList.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceList.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                <a class="js-edit-pricelist-detail" href="#" data-id="@item.Id">Izmenite</a> |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>



<div class="modal fade " role="dialog" id="pricelistdet">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div id="pricelist-container"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>


</div>





<script type="text/javascript">
    $(document).ready(function () {
        $('.js-edit-pricelist-detail').click(function (e) {
            e.preventDefault();
            var url = "/PriceListDetails/Edit"; // the url to the controller
            var recId = $(this).attr('data-id'); // the id that's given to each button in the list
            $.ajax({
                url: url,
                type: 'GET',
                data: { id: recId },
                success: function (data) {
                    var m = $('#pricelistdet');
                    m.find('#pricelist-container').html(data);
                    m.modal('show');
                }
            });


        });

    });
</script>
