@model IEnumerable<BackeryShopDomain.Classes.PriceList>

@{
    ViewBag.Title = "Pregled i izmena cenovnika";
}


<h2>Pregled cenovnika</h2>

<p>
    @Html.ActionLink("Dodajte novi", "Create")
</p>
<table class="table table-responsive table-hover">
    <tr class="warning">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="info">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Izmenite", "Edit", new { id = item.Id }) |
                <a href="#" class="js-master" data-id="@item.Id" data-route="pricelists" data-action="Details">Detalji</a> |
                @Html.ActionLink("Brisanje", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div class ="js-detail-data">
</div>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.sr-latin.min.js"></script>
    @Scripts.Render("~/bundles/jqueryinputmask")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/backery")
}
