@model IEnumerable<BackeryShopDomain.Classes.PriceList>

@{
    ViewBag.Title = "Pregled i izmena cenovnika";
}


<h2>Pregled cenovnika</h2>

<p>
    
    <a href="@Url.Action("Create", "PriceLists")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus aria-hidden="true"></span> Novi cenovnik
    </a> 

</p>
<table class="table table-responsive table-hover">
    <tr class="warning">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="info">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="@Url.Action("Edit", "PriceLists", new {id = item.Id})" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a> |
                <a href="#" class="btn btn-info js-master" data-id="@item.Id" data-route="pricelists" data-action="Details">
                    <span class="glyphicon glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                </a> |
               
                <a href="@Url.Action("Delete", "PriceLists", new {id = item.Id})" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }

</table>

<div class="js-detail-data">
</div>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.sr-latin.min.js"></script>
    @Scripts.Render("~/bundles/jqueryinputmask")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/backery")
}
