@model BackeryShopDomain.Classes.Backery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Backery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceList.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceList.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfShifts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfShifts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmenite", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
