@model BackeryShopDomain.Classes.Turnover

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Turnover</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Backery.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Backery.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmenite", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
